<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.scg.scanner.plugin.RemoteControls"
    version="1.0.0">

    <name>RemoteControls</name>

  <description>
    RemoteControls plugin for steroids
  </description>

  <asset src="www/RemoteControls.js" target="plugins/RemoteControls.js" />

  <engines>
    <engine name="cordova" version=">=2.7.0" />
  </engines>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*/plugins">
      <plugin name="RemoteControls" value="RemoteControls" onload="true" />
    </config-file>

    <config-file target="config.xml" parent="/widget">
      <feature name="RemoteControls">
        <param name="ios-package" value="RemoteControls"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/RemoteControls.h" />
    <source-file src="src/ios/RemoteControls.m" />
    <framework src="MediaPlayer.framework" />
    
  </platform>
</plugin>
